@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-urbanist: "Urbanist", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --color-tblack: #202126;  
  --color-tblue: #2A86FF;
  --color-tlightgray: #DEDEDE;
  --color-tgray: #757577;
  --color-ttransparentgray: #d8d9df41;
}

@layer base {
  * {
    font-family: var(--font-urbanist);
    letter-spacing: 0.015rem;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-outfit);
    color: var(--color-tblack);
  }
  h1 {
    font-weight: 700;
    font-size: 2.25rem;
  }
  h2 {
    font-weight: 500;
    font-size: 1.125rem;
  }

  h3 {
    font-weight: 600;
  }

}
/* Menu Button States */
.menu-button {
  @apply cursor-pointer flex gap-2 transition-colors duration-200 font-medium;
}
.menu-button:hover {
  @apply text-tblue;
}

/* Custom Scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(216, 217, 223, .25); /* tlightgray/25 */
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #757577; /* tgray */
  border-radius: 8px;
}
